@import '~bootstrap/scss/bootstrap';

h2 {
  font-size: 50px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  &.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: 0.15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d;
  }
}

.box {
  text-shadow: 8px 8px 8px #333;
  align-items: center;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
  text-shadow: 12px 12px 14px #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.author {
  margin-top: 5px;
  color: #999;
}

.box-width {
  margin-left: 80px;
  margin-right: 80px;
}

.quote-info {
  margin-right: 50px;
  margin-left: 50px;
  text-align: right;
  align-items: center;
  color: black;
}

body {
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #09868b, #23d5ab);
  background-size: 300% 300%;
  color: #404040;
}

.topnav {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
  background-blend-mode: lighten;
  background-color: #333;
  overflow: hidden;
  color: #e7e5e4;
  border-width: 5px;
  border-bottom-style: ridge;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  border-width: 5px;
  border-bottom-style: ridge;
  border-top-style: ridge;
  background-blend-mode: lighten;
  background-color: #333;
  color: white;
  text-align: center;
}

.content {
  margin-top: 250px;
  margin-bottom: 150px;
}

.curly-quotes:after,
.curly-quotes:before {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 90px;
  font-size: 200px;
  opacity: 0.2;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

span {
  padding: 25px;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button:hover {
  background-color: lighten(#333, 50%);
  color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h6 {
    font-size: .75em;
  }
  .box-width {
    margin-left: 10px;
    margin-right: 10px;
  }
  .curly-quotes:before {
    content: '\201C';
    margin-right: 1px;
    margin-left: -4px;
  }

  .curly-quotes:after {
    content: '\201D';
    margin-left: 1px;
    margin-right: -4px;
  }
  .button {
    font-size: .25em;
  }
}
